*{
    margin:0px;
    padding:0px;
    font-family: 'DM Serif Display', serif;
}

.navbar-nav{
    flex:1;
}
.extra-items{
    align-items: center;
    
}
#search-icon{
    width:80px;
    height:60px;
    padding:8px 16px;
}
nav{
    background-color:black;
}
li{
    list-style:none;
    margin-right:5px;
    color: #aaa;
}
.d-flex{
    justify-content: center;
    padding:0px;
}
.extra-items{
    align-items: center;
    
}
#dropdownMenuButton{
    background-color:black;
    border:none;
}
.text-box{
    margin-top:50%;
    padding:15px;
    
}
.main-img{
    height: 85vh;
    padding:0px;

}
  #img-link{
      font-size:30px;
      color:#000;
  }
.line{
    padding:50px;
}
#icon{
    width:50px;
    height:50px;
}
.footer-tl{
    color:#f2f2f2;
}
footer{
    background-color:rgb(10, 10, 10);
    padding:20px;
}
.link-box{
    padding:0 15px 0 15px;
    margin-top:10%;
}
.show-box{
    height:100%;
    width:100%;
}
img-box{
    height:100%;
    width:100%;
}
.col-md-6{
    padding:20px;
}
.text{
    background: rgba(0, 0, 0, 0.363);
    height: 100%;
    width:100%;
    position:absolute;
    top:0;
    left:100%;
}
.hero-2:hover .text{
    left:0%;
    transition:.6s;
}
@media screen and (max-width:1024px){
    .text{
        left:0%;
    }
    .main-img{
        height:70vh;
    }
}
@media screen and (max-width:992px){

}
@media screen and (max-width:768px){
    .link-box{
    
        margin-top:10%;
    }
    
    li{
        font-size:12px;
    }
    #icon{
        width:30px;
        height:30px;
    }
   
}
@media screen and (max-width:576px){
    .text-box{
        margin-top:10px;
    }
    .link-box{
    
        margin-top:0%;
    }
    .main-img{
        height:60vh;
    }
    li{
        font-size:10px;
    }
    #icon{
        width:25px;
        height:25px;
    }
}
@media screen and (max-width:480px){
    .main-img{
        height:50vh;
    }
}
