*{
    margin:0px;
    padding:0px;
}

.navbar-nav{
    flex:1;
}
.extra-items{
    align-items: center;
    
}
#search-icon{
    width:80px;
    height:60px;
    padding:8px 16px;
}
nav{
    background-color:black;
}
li{
    list-style:none;
    margin-right:5px;
    color: #aaa;
}
.d-flex{
    justify-content: center;
    padding:0px;
}
.extra-items{
    align-items: center;
    
}
#dropdownMenuButton{
    background-color:black;
    border:none;
}
.text-box{
    margin-top:30%;
    
}
.main-img{
    height: 80vh;

}
  #img-link{
      font-size:35px;
      color:#000;
  }
.line{
    padding:50px;
}
#icon{
    width:50px;
    height:50px;
}
.footer-tl{
    color:#f2f2f2;
}
footer{
    background-color:rgb(10, 10, 10);
    padding:20px;
}
.show-box{
    height:100%;
    width:100%;
}
img-box{
    height:100%;
    width:100%;
}
.hero{
    background-image:url('https://dynaimage.cdn.cnn.com/cnn/q_auto,w_1349,c_fill,g_auto,h_759,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F190617125809-03-kenneth-ize-weavers-nigeria-restricted.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height:70vh;
}
.text{
    background: rgba(6, 119, 72, 0.246);
    height: 100%;
    width:100%;
    position:absolute;
    top:0;
    left:100%;
}
.hero-2:hover .text{
    left:0%;
    transition:.6s;
}
@media screen and (max-width:1024px){
    
}
@media screen and (max-width:992px){

}
@media screen and (max-width:768px){
    .text-box{
        margin-top:0%;
    }
    li{
        font-size:12px;
    }
    #icon{
        width:30px;
        height:30px;
    }
   
}
@media screen and (max-width:576px){
    li{
        font-size:10px;
    }
    #icon{
        width:25px;
        height:25px;
    }
}
